<%- include('head'); -%>
	<main>
		<div class="jumbotron">
			<p class="lead"><i class="fa fa-gamepad" aria-hidden="true"></i> My Library</p>
				<div class="row-fluid">
					<table class="table" id="empty-parent">
						<thead>
							<tr>
								<th class="no-sort" style="width:200px">Logo</th>
								<th>Info</th>
								<th style="width:147px"></th>
							</tr>
						</thead>
						<style>
							td {
								vertical-align: middle !important;
							}
						</style>
						<tbody>
							<% for (var i=0; i < ownedGames.length; i++) { %>
								<tr height="75px">
									<td style="padding: 0">
										<img width="100%" src=<%= gameLogos[i] %>>
									</td>
									<td>
										<b class="muted">
											<%= ownedGames[i].title %>
										</b>
										<div>
											<i>
												Added on <%= gamesLibInfo[i].addedAt %>
											</i>
										</div>
									</td>
									<td align="center">
										<form method="POST" action="/games/library">
											<button style="height: 36px" type="submit" class="btn btn-danger btn-sm" name=<%= gamesLibInfo[i].steamId %>>
												<i class="fa fa-trash" aria-hidden="true"></i> Remove Game
											</button>
										</form>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
		</div>
	</main>
	<script>
		<% if (ownedGames.length == 0) { %>
			const empty = document.getElementById('empty-parent');
			empty.insertAdjacentHTML('afterend', '<center><h4><i>It seems you have no games...yet! Get some from the <a href="/games/store" class="link-primary">Store!</a></i></h4></center>');
		<% } %>
	</script>
	<script>
		function sendDelete(event){
			event.preventDefault();
			var xhttp = new XMLHttpRequest();
			xhttp.open("DELETE", "/games/library", true);
			xhttp.send();
		}
	</script>
<%- include('foot'); -%>