<%- include('head'); -%>
	<main>
		<div class="jumbotron">
			<p class="lead"><i class="fa fa-gamepad" aria-hidden="true"></i> My Library</p>
				<div class="row-fluid">
					<table class="table" id="empty-parent">
						<thead>
							<tr>
								<th style="width:90px">AppID</th >
								<th class="no-sort" style="width:150px"></th>
								<th>Game</th>
								<th style="width:147px"></th>
							</tr>
						</thead>
						<style>
							td {
								vertical-align: middle !important;
							}
						</style>
						<tbody>
							<% for (var i=0; i < ownedGames.length; i++) { %>
								<tr>
									<td>
										<a>
											<%= ownedGames[i].steamId %>
										</a>
									</td>
									<td>
										<img width="126px" src=<%= gameLogos[i] %>>
									</td>
									<td>
										<b class="muted">
											<%= ownedGames[i].title %>
										</b>
										<div>
											<i>
												<% for (var j=0; j < ownedGames[i].genres.length; j++) { %>
													<%= ownedGames[i].genres[j] %><% if(j+1 == ownedGames[i].genres.length) continue %>,
												<% } %>
											</i>
										</div>
									</td>
									<td align="center">
										<button style="height: 36px" type="button" class="btn btn-primary btn-sm" onclick="1">
											<i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Library
										</button>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
		</div>
	</main>
	<script>
		<% if (ownedGames.length == 0) { %>
			const empty = document.getElementById('empty-parent');
			empty.insertAdjacentHTML('afterend', '<center><h4><i>It seems you have no games...yet! Get some from the <a href="/games/store" class="link-primary">Store!</a></i></h4></center>');
		<% } %>
	</script>
<%- include('foot'); -%>